@import "reset";
@import "global";

.header {
  padding-top: 35px;
  padding-bottom: 70px;

  .wrapper-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapper-logo {
      width: 24.7%;

      img {
        width: 100%;
      }
    }

    .wrapper-nav {
      width: 40.8%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-lists {
        width: 66%;
        display: flex;
        justify-content: space-between;

        .nav-list {
          display: inline-block;

          a {
            font-family: $main-font;
            font-style: normal;
            font-weight: 500;
            font-size: 0.833vw;
            line-height: 24px;
            color: $basic-color;
            opacity: 0.7;
            transition: all 0.5s;

            &.active {
              color: $decoration-color-text;
              padding-bottom: 5px;
              border-bottom: 2px solid $decoration-color-text;
            }

            &:hover {
              transition: all 0.5s;
              color: $decoration-color-text;
            }
          }
        }
      }
    }
  }
}

.header-content {
  padding-bottom: 140px;

  .wrapper-header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .header-text {
      width: 45%;
      padding-top: 50px;

      h1 {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 3.177vw;
        line-height: 120%;
        color: $basic-color;
        padding-bottom: 30px;
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 0.938vw;
        line-height: 27px;
        padding-bottom: 40px;
      }

      .header-tabs {
        position: relative;

        .wrapper-tabs {
          position: absolute;
          background: #FFFFFF;
          box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          width: 700px;

          .nav-pills {
            padding: 15px 0 0 30px;

            .nav-item {
              .nav-link {
                background-color: transparent;
                color: $basic-color;
                font-family: $main-font;
                font-style: normal;
                font-weight: 600;
                font-size: 0.938vw;
                line-height: 27px;
                padding: 0;

                &.active {
                  color: $decoration-color-text;
                }
              }
            }

            .nav-item + .nav-item {
              margin-left: 40px;
            }
          }

          .tab-content {
            padding: 30px;

            .tab-pane {
              width: 100%;

              .wrapper-tab-parts {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .tab-parts {
                  width: 21%;
                  border-right: 1px solid #BBBBBB;

                  .tab-parts:last-child {
                    border-right: unset;
                  }

                  .part-title {
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;

                    h4 {
                      padding-right: 10px;
                      font-family: $main-font;
                      font-style: normal;
                      font-weight: 400;
                      font-size: 0.833vw;
                      line-height: 24px;
                      color: $basic-color;
                      opacity: 0.7;
                    }

                    i {
                      color: $basic-color;
                      opacity: 0.7;
                    }
                  }

                  .part-select {
                    width: 100%;

                    .form-select {
                      cursor: pointer;
                      width: 90%;
                      border: none;
                      padding: 0;
                      background: transparent;
                      font-family: $main-font;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 1.146vw;
                      line-height: 33px;
                      color: $basic-color;

                      .btn {
                        background: transparent;
                        border: none;
                        padding: 0;

                        &:focus-visible {
                          outline: none;
                        }
                      }

                      &:focus {
                        box-shadow: unset;
                        border-color: unset;
                      }
                    }
                  }

                  button {
                    width: 100%;
                    padding: 15px 0;
                    font-size: 0.833vw;
                  }
                }

                .tab-parts:nth-child(3) {
                  border-right: unset;
                }

                .tab-parts:last-child {
                  border-right: unset;
                }
              }
            }
          }
        }
      }
    }

    .header-img {
      width: 45%;

      img {
        width: 100%;
      }
    }
  }
}

.partners {
  padding-bottom: 140px;

  .wrapper-container {
    .wrapper-title {
      display: flex;
      justify-content: center;
      padding-bottom: 65px;
    }

    .wrapper-partners-blocks {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .wrapper-partners-block {

      }
    }
  }
}

.properties {
  padding-bottom: 140px;

  .wrapper-properties {
    width: 100%;

    .wrapper-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 70px;

      a {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 0.833vw;
        line-height: 24px;
        color: $decoration-color-text;
      }
    }

    .wrapper-properties-blocks {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .properties-block {
        margin-bottom: 30px;
        width: 31%;
        box-shadow: 0 8px 70px rgba(0, 0, 0, 0.07);
        border-radius: 10px;

        .properties-img {
          width: 100%;

          img {
            width: 100%;
          }
        }

        .properties-info {
          padding: 30px;

          .properties-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;

            h3 {
              font-family: $main-font;
              font-style: normal;
              font-weight: 600;
              font-size: 1.146vw;
              line-height: 33px;
              color: $basic-color;
            }

            .favorites {
              cursor: pointer;

              i {
                color: #BBBBBB;
              }

              &.active {
                i {
                  color: #E61E14;
                }
              }
            }
          }

          .properties-location {
            display: flex;
            align-items: center;
            padding-bottom: 20px;

            i {
              opacity: 0.5;
            }

            p {
              padding-left: 10px;
              font-weight: 400;
              font-size: 0.833vw;
              line-height: 24px;
            }
          }

          .properties-points {
            display: flex;
            align-items: center;
            padding-bottom: 20px;

            .point {
              i {
                opacity: 0.5;
              }

              span {
                padding-left: 4px;
                font-family: $main-font;
                font-weight: 400;
                font-size: 0.729vw;
                line-height: 21px;
                color: $basic-color;
                opacity: 0.9;
              }
            }

            .point + .point {
              padding-left: 20px;
            }
          }

          .properties-price {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
              font-family: $main-font;
              font-style: normal;
              font-weight: 600;
              font-size: 1.146vw;
              line-height: 33px;
              color: $decoration-color-text;
            }

            button {
              font-weight: 500;
              font-size: 0.833vw;
              line-height: 24px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}

.featured {
  margin-bottom: 140px;
  background-color: #F9F9F9;

  .wrapper-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 70px;

    h2 {
      padding-bottom: 10px;
    }

    .wrapper-paragraph {
      width: 50.6%;

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 0.833vw;
        line-height: 24px;
        padding-bottom: 70px;
      }
    }
  }

  .wrapper-featured-blocks {
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .featured-blocks-column {
      width: 33%;
      display: flex;
      flex-direction: column;

      .block-info {
        padding: 25px;
        background: #FFFFFF;
        border-radius: 10px;

        .block-icon {
          background-color: #FE753F;
          background-color: rgba(254, 117, 63, .1);
          border-radius: 5px;
          width: 46px;
          height: 46px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            color: #FE753F;
          }
        }

        h3 {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 1.146vw;
          line-height: 33px;
          color: $basic-color;
          padding-top: 15px;
          padding-bottom: 10px;
        }

        p {
          font-weight: 400;
          font-size: 0.833vw;
          line-height: 24px;
        }
      }

      .block-info + .block-info {
        margin-top: 30px;
      }
    }

    .featured-blocks-img {
      width: 30%;

      img {
        width: 100%;
      }
    }
  }
}

.reviews {
  padding-bottom: 140px;

  .wrapper-reviews {
    .wrapper-title {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .wrapper-title-top {
        padding-bottom: 10px;

        span {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 0.833vw;
          line-height: 24px;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: $decoration-color-text;
        }
      }

      .wrapper-title-bottom {
        padding-bottom: 70px;
      }
    }

    .wrapper-carousel {
      width: 100%;

      .carousel-reviews {

        .slick-list {

        }

        .review-item {
          margin: 0 30px 0 0;
          padding: 30px;
          border: 2px solid rgba(254, 117, 63, 0.1);
          border-radius: 10px;

          .wrapper-info-reviews {
            padding-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .wrapper-personal-info {
              display: flex;
              align-items: center;

              .wrapper-img {
                width: 70px;
                height: 70px;

                img {
                  border-radius: 50%;
                  width: 100%;
                  object-fit: cover;
                }
              }

              .wrapper-name {
                padding-left: 30px;

                h3 {
                  font-family: $main-font;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 1.146vw;
                  line-height: 33px;
                  color: $basic-color;
                }

                p {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 0.833vw;
                  line-height: 24px;
                }
              }
            }

            .wrapper-decoration {
              width: 64px;
              height: 64px;

              img {
                width: 100%;
              }
            }
          }

          .wrapper-review {

            p {
              font-style: normal;
              font-weight: 400;
              font-size: 0.833vw;
              line-height: 24px;
            }
          }
        }
      }

      .carousel-dots {
        padding-top: 40px;

        .slick-dots {
          display: flex;
          justify-content: center;
          align-items: center;

          .slick-active {

            button {
              font-size: 0;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              padding: 0;
              color: $button-color;
              background-color: $button-color;
            }
          }

          li {
            button {
              font-size: 0;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              padding: 0;
              color: #EDEDED;
              background-color: #EDEDED;
            }
          }

          li + li {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.subscribe {
  padding-bottom: 140px;
  position: relative;

  .wrapper-subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #433E89;
    border-radius: 10px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      width: 208px;
      height: 208px;
      left: -130px;
      top: 30px;
      background: #FFFFFF;
      opacity: 0.1;
      border-radius: 50%;
    }

    &:after {
      content: '';
      position: absolute;
      width: 208px;
      height: 208px;
      right: 60px;
      bottom: -135px;
      background: #FFFFFF;
      opacity: 0.1;
      border-radius: 50%;
    }

    .wrapper-text {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 70px 0;

      h2 {
        padding-bottom: 15px;
        color: #FFFFFF;

        &:before {
          display: none;
        }
      }

      .wrapper-paragraph {
        width: 44%;

        p {
          font-size: 0.833vw;
          line-height: 24px;
          color: #FFFFFF;
        }
      }
    }

    .wrapper-email {
      display: flex;
      align-items: center;
      width: 51.6%;
      background: #FFFFFF;
      border-radius: 10px;
      margin-bottom: 70px;
      height: 70px;

      input {
        width: 100%;
        height: 70px;
        border: none;
        background-color: transparent;
        padding: 0 30px;
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 0.833vw;
        line-height: 24px;
        color: $basic-color;

        &:focus-visible {
          outline: none;
        }

        &::placeholder {
          font-family: $main-font;
          font-style: normal;
          font-weight: 400;
          font-size: 0.833vw;
          line-height: 24px;
          color: $basic-color;
          opacity: 0.5;
        }
      }

      button {
        padding: 16px 41px;
        margin-right: 7px;
      }
    }
  }
}

.footer {
  padding-bottom: 100px;

  .wrapper-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .footer-blocks:nth-child(1) {
      width: 24%;
    }

    .footer-blocks {
      width: 12%;

      .wrapper-content {
        width: 100%;

        img {
          width: 80%;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 0.833vw;
          line-height: 24px;
          padding: 25px 0;
        }

        .wrapper-social {
          .social-lists {
            display: flex;

            .social-list {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: $decoration-color-text;
              cursor: pointer;

              a {
                color: white;

                i {
                  font-size: 13px;
                }
              }
            }

            .social-list + .social-list {
              margin-left: 15px;
            }
          }
        }

        h4 {
          font-family: $main-font;
          font-style: normal;
          font-weight: 600;
          font-size: 1.146vw;
          line-height: 33px;
          padding-bottom: 25px;
        }

        .footer-navigation {
          li {
            font-family: $main-font;
            font-style: normal;
            font-weight: 500;
            font-size: 0.833vw;
            line-height: 17px;
            color: $basic-color;
            opacity: 0.7;

            a {
              color: $basic-color;
              transition: all 0.5s;

              &:hover {
                transition: all 0.5s;
                color: $decoration-color-text;
              }
            }
          }

          li + li {
            padding-top: 15px;
          }
        }
      }
    }
  }
}

@import "media";