/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul, ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Import google fonts */
/* Font */
/* Colors */
h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.292vw;
  line-height: 66px;
  color: #030A1B;
  position: relative;
}
h2:before {
  content: url("../images/decorative-img.png");
  position: absolute;
  top: -3px;
  left: -8px;
}

p {
  font-family: "Poppins", sans-serif;
  color: #030A1B;
  font-style: normal;
  opacity: 0.7;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.833vw;
  line-height: 24px;
  border: none;
  color: white;
  background-color: #2E6EFF;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
}

.wrapper-container {
  width: 75%;
  margin: 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.header {
  padding-top: 35px;
  padding-bottom: 70px;
}
.header .wrapper-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper-header .wrapper-logo {
  width: 24.7%;
}
.header .wrapper-header .wrapper-logo img {
  width: 100%;
}
.header .wrapper-header .wrapper-nav {
  width: 40.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper-header .wrapper-nav .nav-lists {
  width: 66%;
  display: flex;
  justify-content: space-between;
}
.header .wrapper-header .wrapper-nav .nav-lists .nav-list {
  display: inline-block;
}
.header .wrapper-header .wrapper-nav .nav-lists .nav-list a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.833vw;
  line-height: 24px;
  color: #030A1B;
  opacity: 0.7;
  transition: all 0.5s;
}
.header .wrapper-header .wrapper-nav .nav-lists .nav-list a:hover {
  transition: all 0.5s;
  color: #FE753F;
}

.partners {
  padding-bottom: 140px;
}
.partners .wrapper-container .wrapper-title {
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}
.partners .wrapper-container .wrapper-partners-blocks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured {
  margin-bottom: 140px;
  background-color: #F9F9F9;
}
.featured .wrapper-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 70px;
}
.featured .wrapper-title h2 {
  padding-bottom: 10px;
}
.featured .wrapper-title .wrapper-paragraph {
  width: 50.6%;
}
.featured .wrapper-title .wrapper-paragraph p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
  padding-bottom: 70px;
}
.featured .wrapper-featured-blocks {
  padding-bottom: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.featured .wrapper-featured-blocks .featured-blocks-column {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info {
  padding: 25px;
  background: #FFFFFF;
  border-radius: 10px;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info .block-icon {
  background-color: #FE753F;
  background-color: rgba(254, 117, 63, 0.1);
  border-radius: 5px;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info .block-icon i {
  color: #FE753F;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.146vw;
  line-height: 33px;
  color: #030A1B;
  padding-top: 15px;
  padding-bottom: 10px;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info p {
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info + .block-info {
  margin-top: 30px;
}
.featured .wrapper-featured-blocks .featured-blocks-img {
  width: 30%;
}
.featured .wrapper-featured-blocks .featured-blocks-img img {
  width: 100%;
}

.subscribe {
  padding-bottom: 140px;
  position: relative;
}
.subscribe .wrapper-subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #433E89;
  border-radius: 10px;
  overflow: hidden;
}
.subscribe .wrapper-subscribe:before {
  content: "";
  position: absolute;
  width: 208px;
  height: 208px;
  left: -130px;
  top: 30px;
  background: #FFFFFF;
  opacity: 0.1;
  border-radius: 50%;
}
.subscribe .wrapper-subscribe:after {
  content: "";
  position: absolute;
  width: 208px;
  height: 208px;
  right: 60px;
  bottom: -135px;
  background: #FFFFFF;
  opacity: 0.1;
  border-radius: 50%;
}
.subscribe .wrapper-subscribe .wrapper-text {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}
.subscribe .wrapper-subscribe .wrapper-text h2 {
  padding-bottom: 15px;
  color: #FFFFFF;
}
.subscribe .wrapper-subscribe .wrapper-text h2:before {
  display: none;
}
.subscribe .wrapper-subscribe .wrapper-text .wrapper-paragraph {
  width: 44%;
}
.subscribe .wrapper-subscribe .wrapper-text .wrapper-paragraph p {
  font-size: 0.833vw;
  line-height: 24px;
  color: #FFFFFF;
}
.subscribe .wrapper-subscribe .wrapper-email {
  display: flex;
  align-items: center;
  width: 51.6%;
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 70px;
  height: 70px;
}
.subscribe .wrapper-subscribe .wrapper-email input {
  width: 100%;
  height: 70px;
  border: none;
  background-color: transparent;
  padding: 0 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
  color: #030A1B;
}
.subscribe .wrapper-subscribe .wrapper-email input:focus-visible {
  outline: none;
}
.subscribe .wrapper-subscribe .wrapper-email input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
  color: #030A1B;
  opacity: 0.5;
}
.subscribe .wrapper-subscribe .wrapper-email button {
  padding: 16px 41px;
  margin-right: 7px;
}

.footer {
  padding-bottom: 100px;
}
.footer .wrapper-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .wrapper-footer .footer-blocks:nth-child(1) {
  width: 24%;
}
.footer .wrapper-footer .footer-blocks {
  width: 12%;
}
.footer .wrapper-footer .footer-blocks .wrapper-content {
  width: 100%;
}
.footer .wrapper-footer .footer-blocks .wrapper-content img {
  width: 80%;
}
.footer .wrapper-footer .footer-blocks .wrapper-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
  padding: 25px 0;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .wrapper-social .social-lists {
  display: flex;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .wrapper-social .social-lists .social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FE753F;
  cursor: pointer;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .wrapper-social .social-lists .social-list a {
  color: white;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .wrapper-social .social-lists .social-list a i {
  font-size: 13px;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .wrapper-social .social-lists .social-list + .social-list {
  margin-left: 15px;
}
.footer .wrapper-footer .footer-blocks .wrapper-content h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.146vw;
  line-height: 33px;
  padding-bottom: 25px;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .footer-navigation li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.833vw;
  line-height: 17px;
  color: #030A1B;
  opacity: 0.7;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .footer-navigation li a {
  color: #030A1B;
  transition: all 0.5s;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .footer-navigation li a:hover {
  transition: all 0.5s;
  color: #FE753F;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .footer-navigation li + li {
  padding-top: 15px;
}

@media (min-width: 1260px) and (max-width: 1440px) {
  button {
    padding: 10px 20px;
  }

  .subscribe .wrapper-subscribe .wrapper-email button {
    padding: 10px 30px;
  }

  .subscribe .wrapper-subscribe .wrapper-email {
    height: 60px;
  }

  .subscribe .wrapper-subscribe .wrapper-email input {
    height: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
