/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul, ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Import google fonts */
/* Font */
/* Colors */
h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.292vw;
  line-height: 66px;
  color: #030A1B;
  position: relative;
}
h2:before {
  content: url("../images/decorative-img.png");
  position: absolute;
  top: -3px;
  left: -8px;
}

p {
  font-family: "Poppins", sans-serif;
  color: #030A1B;
  font-style: normal;
  opacity: 0.7;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.833vw;
  line-height: 24px;
  border: none;
  color: white;
  background-color: #2E6EFF;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
}

.wrapper-container {
  width: 75%;
  margin: 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.header {
  padding-top: 35px;
  padding-bottom: 70px;
}
.header .wrapper-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper-header .wrapper-logo {
  width: 24.7%;
}
.header .wrapper-header .wrapper-logo img {
  width: 100%;
}
.header .wrapper-header .wrapper-nav {
  width: 40.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper-header .wrapper-nav .nav-lists {
  width: 66%;
  display: flex;
  justify-content: space-between;
}
.header .wrapper-header .wrapper-nav .nav-lists .nav-list {
  display: inline-block;
}
.header .wrapper-header .wrapper-nav .nav-lists .nav-list a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.833vw;
  line-height: 24px;
  color: #030A1B;
  opacity: 0.7;
  transition: all 0.5s;
}
.header .wrapper-header .wrapper-nav .nav-lists .nav-list a.active {
  color: #FE753F;
  padding-bottom: 5px;
  border-bottom: 2px solid #FE753F;
}
.header .wrapper-header .wrapper-nav .nav-lists .nav-list a:hover {
  transition: all 0.5s;
  color: #FE753F;
}

.header-content {
  padding-bottom: 140px;
}
.header-content .wrapper-header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-content .wrapper-header-content .header-text {
  width: 45%;
  padding-top: 50px;
}
.header-content .wrapper-header-content .header-text h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.177vw;
  line-height: 120%;
  color: #030A1B;
  padding-bottom: 30px;
}
.header-content .wrapper-header-content .header-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 0.938vw;
  line-height: 27px;
  padding-bottom: 40px;
}
.header-content .wrapper-header-content .header-text .header-tabs {
  position: relative;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 700px;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .nav-pills {
  padding: 15px 0 0 30px;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .nav-pills .nav-item .nav-link {
  background-color: transparent;
  color: #030A1B;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.938vw;
  line-height: 27px;
  padding: 0;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .nav-pills .nav-item .nav-link.active {
  color: #FE753F;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .nav-pills .nav-item + .nav-item {
  margin-left: 40px;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content {
  padding: 30px;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane {
  width: 100%;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts {
  width: 21%;
  border-right: 1px solid #BBBBBB;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .tab-parts:last-child {
  border-right: unset;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .part-title {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .part-title h4 {
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
  color: #030A1B;
  opacity: 0.7;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .part-title i {
  color: #030A1B;
  opacity: 0.7;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .part-select {
  width: 100%;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .part-select .form-select {
  cursor: pointer;
  width: 90%;
  border: none;
  padding: 0;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.146vw;
  line-height: 33px;
  color: #030A1B;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .part-select .form-select .btn {
  background: transparent;
  border: none;
  padding: 0;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .part-select .form-select .btn:focus-visible {
  outline: none;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .part-select .form-select:focus {
  box-shadow: unset;
  border-color: unset;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts button {
  width: 100%;
  padding: 15px 0;
  font-size: 0.833vw;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts:nth-child(3) {
  border-right: unset;
}
.header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts:last-child {
  border-right: unset;
}
.header-content .wrapper-header-content .header-img {
  width: 45%;
}
.header-content .wrapper-header-content .header-img img {
  width: 100%;
}

.partners {
  padding-bottom: 140px;
}
.partners .wrapper-container .wrapper-title {
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}
.partners .wrapper-container .wrapper-partners-blocks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.properties {
  padding-bottom: 140px;
}
.properties .wrapper-properties {
  width: 100%;
}
.properties .wrapper-properties .wrapper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}
.properties .wrapper-properties .wrapper-title a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.833vw;
  line-height: 24px;
  color: #FE753F;
}
.properties .wrapper-properties .wrapper-properties-blocks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block {
  margin-bottom: 30px;
  width: 31%;
  box-shadow: 0 8px 70px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-img {
  width: 100%;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-img img {
  width: 100%;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info {
  padding: 30px;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-title h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.146vw;
  line-height: 33px;
  color: #030A1B;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-title .favorites {
  cursor: pointer;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-title .favorites i {
  color: #BBBBBB;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-title .favorites.active i {
  color: #E61E14;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-location {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-location i {
  opacity: 0.5;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-location p {
  padding-left: 10px;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-points {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-points .point i {
  opacity: 0.5;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-points .point span {
  padding-left: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.729vw;
  line-height: 21px;
  color: #030A1B;
  opacity: 0.9;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-points .point + .point {
  padding-left: 20px;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-price span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.146vw;
  line-height: 33px;
  color: #FE753F;
}
.properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-price button {
  font-weight: 500;
  font-size: 0.833vw;
  line-height: 24px;
  border-radius: 5px;
}

.featured {
  margin-bottom: 140px;
  background-color: #F9F9F9;
}
.featured .wrapper-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 70px;
}
.featured .wrapper-title h2 {
  padding-bottom: 10px;
}
.featured .wrapper-title .wrapper-paragraph {
  width: 50.6%;
}
.featured .wrapper-title .wrapper-paragraph p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
  padding-bottom: 70px;
}
.featured .wrapper-featured-blocks {
  padding-bottom: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.featured .wrapper-featured-blocks .featured-blocks-column {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info {
  padding: 25px;
  background: #FFFFFF;
  border-radius: 10px;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info .block-icon {
  background-color: #FE753F;
  background-color: rgba(254, 117, 63, 0.1);
  border-radius: 5px;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info .block-icon i {
  color: #FE753F;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.146vw;
  line-height: 33px;
  color: #030A1B;
  padding-top: 15px;
  padding-bottom: 10px;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info p {
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
}
.featured .wrapper-featured-blocks .featured-blocks-column .block-info + .block-info {
  margin-top: 30px;
}
.featured .wrapper-featured-blocks .featured-blocks-img {
  width: 30%;
}
.featured .wrapper-featured-blocks .featured-blocks-img img {
  width: 100%;
}

.reviews {
  padding-bottom: 140px;
}
.reviews .wrapper-reviews .wrapper-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews .wrapper-reviews .wrapper-title .wrapper-title-top {
  padding-bottom: 10px;
}
.reviews .wrapper-reviews .wrapper-title .wrapper-title-top span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.833vw;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FE753F;
}
.reviews .wrapper-reviews .wrapper-title .wrapper-title-bottom {
  padding-bottom: 70px;
}
.reviews .wrapper-reviews .wrapper-carousel {
  width: 100%;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item {
  margin: 0 30px 0 0;
  padding: 30px;
  border: 2px solid rgba(254, 117, 63, 0.1);
  border-radius: 10px;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews .wrapper-personal-info {
  display: flex;
  align-items: center;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews .wrapper-personal-info .wrapper-img {
  width: 70px;
  height: 70px;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews .wrapper-personal-info .wrapper-img img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews .wrapper-personal-info .wrapper-name {
  padding-left: 30px;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews .wrapper-personal-info .wrapper-name h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.146vw;
  line-height: 33px;
  color: #030A1B;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews .wrapper-personal-info .wrapper-name p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews .wrapper-decoration {
  width: 64px;
  height: 64px;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews .wrapper-decoration img {
  width: 100%;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-review p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-dots {
  padding-top: 40px;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-dots .slick-dots .slick-active button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  color: #2E6EFF;
  background-color: #2E6EFF;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-dots .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  color: #EDEDED;
  background-color: #EDEDED;
}
.reviews .wrapper-reviews .wrapper-carousel .carousel-dots .slick-dots li + li {
  margin-left: 10px;
}

.subscribe {
  padding-bottom: 140px;
  position: relative;
}
.subscribe .wrapper-subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #433E89;
  border-radius: 10px;
  overflow: hidden;
}
.subscribe .wrapper-subscribe:before {
  content: "";
  position: absolute;
  width: 208px;
  height: 208px;
  left: -130px;
  top: 30px;
  background: #FFFFFF;
  opacity: 0.1;
  border-radius: 50%;
}
.subscribe .wrapper-subscribe:after {
  content: "";
  position: absolute;
  width: 208px;
  height: 208px;
  right: 60px;
  bottom: -135px;
  background: #FFFFFF;
  opacity: 0.1;
  border-radius: 50%;
}
.subscribe .wrapper-subscribe .wrapper-text {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}
.subscribe .wrapper-subscribe .wrapper-text h2 {
  padding-bottom: 15px;
  color: #FFFFFF;
}
.subscribe .wrapper-subscribe .wrapper-text h2:before {
  display: none;
}
.subscribe .wrapper-subscribe .wrapper-text .wrapper-paragraph {
  width: 44%;
}
.subscribe .wrapper-subscribe .wrapper-text .wrapper-paragraph p {
  font-size: 0.833vw;
  line-height: 24px;
  color: #FFFFFF;
}
.subscribe .wrapper-subscribe .wrapper-email {
  display: flex;
  align-items: center;
  width: 51.6%;
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 70px;
  height: 70px;
}
.subscribe .wrapper-subscribe .wrapper-email input {
  width: 100%;
  height: 70px;
  border: none;
  background-color: transparent;
  padding: 0 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
  color: #030A1B;
}
.subscribe .wrapper-subscribe .wrapper-email input:focus-visible {
  outline: none;
}
.subscribe .wrapper-subscribe .wrapper-email input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
  color: #030A1B;
  opacity: 0.5;
}
.subscribe .wrapper-subscribe .wrapper-email button {
  padding: 16px 41px;
  margin-right: 7px;
}

.footer {
  padding-bottom: 100px;
}
.footer .wrapper-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .wrapper-footer .footer-blocks:nth-child(1) {
  width: 24%;
}
.footer .wrapper-footer .footer-blocks {
  width: 12%;
}
.footer .wrapper-footer .footer-blocks .wrapper-content {
  width: 100%;
}
.footer .wrapper-footer .footer-blocks .wrapper-content img {
  width: 80%;
}
.footer .wrapper-footer .footer-blocks .wrapper-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 24px;
  padding: 25px 0;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .wrapper-social .social-lists {
  display: flex;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .wrapper-social .social-lists .social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FE753F;
  cursor: pointer;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .wrapper-social .social-lists .social-list a {
  color: white;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .wrapper-social .social-lists .social-list a i {
  font-size: 13px;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .wrapper-social .social-lists .social-list + .social-list {
  margin-left: 15px;
}
.footer .wrapper-footer .footer-blocks .wrapper-content h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.146vw;
  line-height: 33px;
  padding-bottom: 25px;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .footer-navigation li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.833vw;
  line-height: 17px;
  color: #030A1B;
  opacity: 0.7;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .footer-navigation li a {
  color: #030A1B;
  transition: all 0.5s;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .footer-navigation li a:hover {
  transition: all 0.5s;
  color: #FE753F;
}
.footer .wrapper-footer .footer-blocks .wrapper-content .footer-navigation li + li {
  padding-top: 15px;
}

@media (max-width: 1920px) {
  .menu-btn {
    display: none;
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs {
    width: 900px;
  }
}
@media (min-width: 1260px) and (max-width: 1440px) {
  button {
    padding: 10px 20px;
  }

  .subscribe .wrapper-subscribe .wrapper-email button {
    padding: 10px 30px;
  }

  .subscribe .wrapper-subscribe .wrapper-email {
    height: 60px;
  }

  .subscribe .wrapper-subscribe .wrapper-email input {
    height: 60px;
  }
}
@media (max-width: 1024px) {
  .wrapper-container {
    width: 100%;
    padding: 0 35px;
  }

  h2 {
    font-size: 28px;
  }

  /* Header */
  .header {
    padding-bottom: 0;
  }
  .header .wrapper-header {
    width: 100%;
    padding-bottom: 50px;
  }
  .header .wrapper-header .wrapper-nav {
    display: none;
    width: 100%;
    padding-left: 35px;
    padding-bottom: 20px;
  }
  .header .wrapper-header .wrapper-nav .nav-lists {
    display: flex;
    flex-direction: column;
  }
  .header .wrapper-header .wrapper-nav .nav-lists .nav-list {
    padding-bottom: 20px;
  }
  .header .wrapper-header .wrapper-nav .nav-lists .nav-list a {
    font-size: 14px;
  }
  .header .wrapper-header .wrapper-nav button {
    font-size: 14px;
  }
  .header .wrapper-header .open {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    width: 100%;
    display: block;
    z-index: 3;
    padding-top: 20px;
    margin-top: 100px;
    box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
  }
  .header .wrapper-header .menu-btn {
    display: block;
  }

  /* navMenu active */
  #navMenu > .line {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: black;
  }

  #navMenu > .line:not(:last-child) {
    margin-bottom: 7px;
  }

  #navMenu, #navMenu > .line {
    transition: all 0.4s ease-in-out;
  }

  #navMenu.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
  }

  #navMenu.active > .line:nth-child(2) {
    width: 0;
  }

  #navMenu.active > .line:nth-child(1),
#navMenu.active > .line:nth-child(3) {
    transition-delay: 0.4s;
  }

  #navMenu.active > .line:nth-child(1) {
    transform: translateY(9px);
  }

  #navMenu.active > .line:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
  }

  /* End navMenu active */
  /* End header */
  /* Header content */
  .header-content .wrapper-header-content {
    flex-direction: column;
  }

  .header-content .wrapper-header-content .header-text {
    width: 100%;
  }

  .header-content .wrapper-header-content .header-img {
    display: none;
  }

  .header-content .wrapper-header-content .header-text h1 {
    font-size: 32px;
  }

  .header-content .wrapper-header-content .header-text p {
    font-size: 18px;
  }

  .header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .nav-pills .nav-item .nav-link.active {
    font-size: 18px;
  }

  .header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .nav-pills .nav-item .nav-link {
    font-size: 18px;
  }

  .header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .part-title h4 {
    font-size: 16px;
  }

  .header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs {
    width: 100%;
  }

  .header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs {
    position: unset;
  }

  .header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts button {
    font-size: 16px;
  }

  .header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts .part-select .form-select {
    font-size: 16px;
  }

  /* End header content */
  /* Partners */
  .partners .wrapper-container .wrapper-partners-blocks {
    flex-wrap: wrap;
  }

  .wrapper-partners-block {
    width: 21%;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  /* End partners */
  /* Reviews */
  .reviews .wrapper-reviews .wrapper-title .wrapper-title-top span {
    font-size: 16px;
  }

  .reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews .wrapper-personal-info .wrapper-name h3 {
    font-size: 20px;
  }

  .reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-info-reviews .wrapper-personal-info .wrapper-name p {
    font-size: 16px;
  }

  .reviews .wrapper-reviews .wrapper-carousel .carousel-reviews .review-item .wrapper-review p {
    font-size: 16px;
  }

  /* End reviews */
  /* Properties */
  .properties .wrapper-properties .wrapper-title a {
    font-size: 16px;
  }

  .properties .wrapper-properties .wrapper-properties-blocks .properties-block {
    width: 48%;
  }

  .properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-title h3 {
    font-size: 18px;
  }

  .properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-location p {
    font-size: 16px;
  }

  .properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-points .point span {
    font-size: 16px;
  }

  .properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-price span {
    font-size: 22px;
  }

  .properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-price button {
    font-size: 16px;
  }

  /* End properties */
  /* Featured */
  .featured .wrapper-title .wrapper-paragraph {
    width: 70%;
  }

  .featured .wrapper-title .wrapper-paragraph p {
    font-size: 16px;
  }

  .featured .wrapper-featured-blocks .featured-blocks-column {
    width: 48%;
  }

  .featured .wrapper-featured-blocks .featured-blocks-img {
    display: none;
  }

  .featured .wrapper-featured-blocks .featured-blocks-column .block-info h3 {
    font-size: 18px;
  }

  .featured .wrapper-featured-blocks .featured-blocks-column .block-info p {
    font-size: 16px;
  }

  /* End featured*/
  /* Subscribe */
  .subscribe .wrapper-subscribe .wrapper-text {
    width: 90%;
  }

  .subscribe .wrapper-subscribe .wrapper-text .wrapper-paragraph {
    width: 90%;
  }

  .subscribe .wrapper-subscribe .wrapper-text .wrapper-paragraph p {
    font-size: 16px;
  }

  .subscribe .wrapper-subscribe .wrapper-email {
    width: 70%;
  }

  .subscribe .wrapper-subscribe .wrapper-email button {
    font-size: 16px;
  }

  .subscribe .wrapper-subscribe .wrapper-email input {
    font-size: 16px;
  }

  .subscribe .wrapper-subscribe .wrapper-email input::placeholder {
    font-size: 16px;
  }

  /* End subscribe */
  /* Footer */
  .footer {
    padding-bottom: 20px;
  }

  .footer .wrapper-footer {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer .wrapper-footer .footer-blocks {
    width: 100%;
    padding-bottom: 30px;
  }

  .footer .wrapper-footer .footer-blocks:nth-child(1) {
    width: 100%;
  }

  .footer .wrapper-footer .footer-blocks .wrapper-content img {
    width: 35%;
  }

  .footer .wrapper-footer .footer-blocks .wrapper-content h4 {
    font-size: 18px;
  }

  .footer .wrapper-footer .footer-blocks .wrapper-content .footer-navigation li {
    font-size: 16px;
  }

  .footer .wrapper-footer .footer-blocks .wrapper-content p {
    font-size: 16px;
  }

  /* End footer */
}
@media (max-width: 768px) {
  .header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts .tab-parts {
    width: 100%;
    padding-bottom: 25px;
    border-right: none;
  }

  .header-content .wrapper-header-content .header-text .header-tabs .wrapper-tabs .tab-content .tab-pane .wrapper-tab-parts {
    flex-direction: column;
  }

  .wrapper-partners-block {
    width: 40%;
  }

  .featured .wrapper-featured-blocks .featured-blocks-column {
    width: 100%;
  }

  .featured .wrapper-featured-blocks .featured-blocks-column {
    padding-bottom: 20px;
  }

  .featured .wrapper-featured-blocks {
    flex-wrap: wrap;
  }

  .featured .wrapper-featured-blocks .featured-blocks-column .block-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribe .wrapper-subscribe .wrapper-email {
    width: 90%;
  }

  .properties .wrapper-properties .wrapper-properties-blocks .properties-block {
    width: 100%;
  }

  .properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-price button {
    padding: 15px 20px;
  }
}
@media (max-width: 576px) {
  h2 {
    line-height: 30px;
  }

  h2:before {
    top: -22px;
  }

  .wrapper-container {
    width: 100%;
    padding: 0 15px;
  }

  .header .wrapper-header .open {
    padding-left: 15px;
  }

  .wrapper-partners-block {
    width: 100%;
  }

  .properties .wrapper-properties .wrapper-title {
    align-items: unset;
    flex-direction: column;
  }

  .properties .wrapper-properties .wrapper-title h2 {
    padding-bottom: 20px;
  }

  .properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-price {
    flex-direction: column;
    align-items: unset;
  }

  .properties .wrapper-properties .wrapper-properties-blocks .properties-block .properties-info .properties-price button {
    width: 100%;
    margin-top: 20px;
  }

  .subscribe .wrapper-subscribe .wrapper-text h2 {
    line-height: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
